
# Por favor tente resolver o desafio sozinho, não pegue atalhos, tu consegue, é só colocar a cabeça para funcionar.

Execute a célula abaixo apenas uma vez.

In [2]:
%%bash

rm -rf /tmp/github; mkdir -p /tmp/github; cd /tmp/github
git clone https://github.com/bruno990/30-day-challenges-with-sql.git
#sh /tmp/github/30-day-challenges-with-sql/challenges/utils/install-miniconda.sh > /dev/null 2>&1
#sh /tmp/github/30-day-challenges-with-sql/challenges/utils/update-miniconda.sh > /dev/null 2>&1

Cloning into '30-day-challenges-with-sql'...

Neste desafio precisaremos fazer uma transformação completa na tabela `Customer`! 
1.Concatene as colunas `Customer.FirstName` e `Customer.LastName`, gerando uma coluna `nome` onde apenas a primeira letra do nome seja Maiúscula. Exemplo: Fernanda Ramos    
2.Concatene as colunas `Customer.City` e `Customer.State`, e gerando uma coluna com a descrição `cidade` onde apenas a coluna `Customer.State` seja Maiúscula. Exemplo: belém-PA.     
3.Crie uma nova coluna chamada `cep` a partir da coluna `Customer.PostalCode` removendo todos os caracteres e convertendo o tipo de dados para Integer. 
4.Filtre a tabela para apresentear somente dados do país "BRAZIL" e cep <> 0

Critério:  
Escreva essa transformação em apenas uma query. Boa sorte!

resultado esperado:  

|codigo|nome|endereco|cidade|pais|cep|telefone|Email
|-----:|-----:|-----:|-----:|-----:|-----:|-----:|-----
|1|Luís gonçalves|av. brigadeiro faria lima, 2170|são josé dos campos-SP|BRAZIL|12227000|551239235555|luisg@embraer.com.br
|10|Eduardo martins|rua dr. falcão filho, 155|são paulo-SP|BRAZIL|1007010|551130335446|eduardo@woodstock.com.br
|11|Alexandre rocha|av. paulista, 2022|são paulo-SP|BRAZIL|1310200|551130553278|alero@uol.com.br
|12|Roberto almeida|praça pio x, 119|rio de janeiro-RJ|BRAZIL|20040020|552122717000|roberto.almeida@riotur.gov.br
|13|Fernanda ramos|qe 7 bloco g|brasília-DF|BRAZIL|71020677|556133635547|fernadaramos4@uol.com.br

Na célula onde se encontra o `%%sql`, escreva sua query, sem deletar o comando. Exemplo:  
```python
%%sql
select * from Customer
```

Para resolução utilize a documentação do sqlite:https://www.sqlite.org/docs.html

In [3]:
%load_ext sql
%sql sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db

'Connected: @//tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db'

In [4]:
%%sql

SELECT * FROM Customer LIMIT 10

 * sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db
Done.

[(1, 'Luís', 'Gonçalves', 'Embraer - Empresa Brasileira de Aeronáutica S.A.', 'Av. Brigadeiro Faria Lima, 2170', 'São José dos Campos', 'SP', 'Brazil', '12227-000', '+55 (12) 3923-5555', '+55 (12) 3923-5566', 'luisg@embraer.com.br', 3),
 (2, 'Leonie', 'Köhler', None, 'Theodor-Heuss-Straße 34', 'Stuttgart', None, 'Germany', '70174', '+49 0711 2842222', None, 'leonekohler@surfeu.de', 5),
 (3, 'François', 'Tremblay', None, '1498 rue Bélanger', 'Montréal', 'QC', 'Canada', 'H2G 1A7', '+1 (514) 721-4711', None, 'ftremblay@gmail.com', 3),
 (4, 'Bjørn', 'Hansen', None, 'Ullevålsveien 14', 'Oslo', None, 'Norway', '0171', '+47 22 44 22 22', None, 'bjorn.hansen@yahoo.no', 4),
 (5, 'František', 'Wichterlová', 'JetBrains s.r.o.', 'Klanova 9/506', 'Prague', None, 'Czech Republic', '14700', '+420 2 4172 5555', '+420 2 4172 5555', 'frantisekw@jetbrains.com', 4),
 (6, 'Helena', 'Holý', None, 'Rilská 3174/6', 'Prague', None, 'Czech Republic', '14300', '+420 2 4177 0449', None, 'hholy@gmail.com', 5),
 (7, 'Astrid', 'Gruber', None, 'Rotenturmstraße 4, 1010 Innere Stadt', 'Vienne', None, 'Austria', '1010', '+43 01 5134505', None, 'astrid.gruber@apple.at', 5),
 (8, 'Daan', 'Peeters', None, 'Grétrystraat 63', 'Brussels', None, 'Belgium', '1000', '+32 02 219 03 03', None, 'daan_peeters@apple.be', 4),
 (9, 'Kara', 'Nielsen', None, 'Sønder Boulevard 51', 'Copenhagen', None, 'Denmark', '1720', '+453 3331 9991', None, 'kara.nielsen@jubii.dk', 4),
 (10, 'Eduardo', 'Martins', 'Woodstock Discos', 'Rua Dr. Falcão Filho, 155', 'São Paulo', 'SP', 'Brazil', '01007-010', '+55 (11) 3033-5446', '+55 (11) 3033-4564', 'eduardo@woodstock.com.br', 4)]

In [46]:
%%sql result_set << 

SELECT (CustomerId) as codigo, (FirstName || ' ' || lower(LastName)) nome, (lower(Address)) as endereco, (lower(City) || '-' || upper(State)) as cidade, (upper(Country)) as pais,
    (PostalCode) as cep, replace(Phone, '^+', '') as telefone, Email 
FROM Customer 
WHERE pais = 'BRAZIL'

 * sqlite://///tmp/github/30-day-challenges-with-sql/challenges/utils/db/database.db
Done.
Returning data to local variable result_set

In [47]:
result_set.DataFrame()

,codigo,nome,endereco,cidade,pais,cep,telefone,Email
0,1,Luís gonçalves,"av. brigadeiro faria lima, 2170",são josé dos campos-SP,BRAZIL,12227-000,+55 (12) 3923-5555,luisg@embraer.com.br
1,10,Eduardo martins,"rua dr. falcão filho, 155",são paulo-SP,BRAZIL,01007-010,+55 (11) 3033-5446,eduardo@woodstock.com.br
2,11,Alexandre rocha,"av. paulista, 2022",são paulo-SP,BRAZIL,01310-200,+55 (11) 3055-3278,alero@uol.com.br
3,12,Roberto almeida,"praça pio x, 119",rio de janeiro-RJ,BRAZIL,20040-020,+55 (21) 2271-7000,roberto.almeida@riotur.gov.br
4,13,Fernanda ramos,qe 7 bloco g,brasília-DF,BRAZIL,71020-677,+55 (61) 3363-5547,fernadaramos4@uol.com.br